body{
 margin:0px;
 padding:0px;
 background: #101010;
 }

header{

 background-color: #484848;
 font-size: 30px;
 color: #D8D8D8;
 height: 20vh;
 clear:both;
 line-height: 1.6;
 text-align: center;
 }
 
aside {
 background-color: #181818;
 float:left;
 width:20%;
 height: 100%;}
 
 
main{
 color: #EEFBFB;
 background: #202020;
 font-size: 24px;
 float:left;
 height: 100%;
 width:80%;
 }
 
 form{
 margin:20px;}
 
ul {
 list-style-type: none;
 margin: 0px;
 padding: 0px;
 width: 100%;
 height:100%;
}

li a {
 display: block;
 background-color: #2B2B2B;
 color: #D8D8D8;
 padding: 8px 16px;
 text-decoration: none;
 font-size: 24px;
}


#dodaj{
  border: none;
  background-color: #677598;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#aktualizuj{
  border: none;
  background-color: #355E3B;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#operacja{
  border: none;
  background-color: #BB9744;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#statystyka{
  border: none;
  background-color: #8E936C;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#faktura{
  border: none;
  background-color: #534157;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#usun{
  border: none;
  background-color: #5E353B;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a:hover{
 background-color: #505050;}

p{
  margin:10px;}
  
  .tabela tr:hover td{
	  background-color: #A8A8A8;
	  color: #404040;
  }
  
table{
	margin: 10px;
	border-collapse: collapse;
	}
	
th{
	background-color: black;
	color: #B2B2B2;
	}
	
th, td {
  padding: 10px;
  text-align: center;
}

td{
	background-color: #2C2F33;
}	
 
